section {
    margin-top: 50px;
}

.detect-btn {
    border: none;
    padding: 10px;
    font-weight:bold;
    color: rgb(63, 63, 63);
    padding: 15px 30px;
}

.detect-btn:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}


input {
    border: none;
    background: #f0f0f0;
    transition: ease-in-out, width .35s ease-in-out;
    color: rgb(63, 63, 63);
}   

input:focus {
    background-color: white;
    outline: none;
}